.skin-blue .main-header .navbar {
    background-color: var(--body-top-blue);
}

.content-wrapper, .right-side {
    background-color: var(--body-blue);
    margin-left: var(--sidebar-width)
}

g.point {
    clip-path: inset(0% 0% 0% 0% round 2px 6px 6px 2px);
}

g.ytick>text {
    fill: var(--mywhite) !important;
    font-family: "Open Sans" !important;
    font-size: 16px !important;
}