.left-side, .main-sidebar {
    padding-top: var(--header-height);
    width: var(--sidebar-width);
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: var(--navbar-blue);
}


.sidebar-menu>li {
    padding: 10px 20px;
}

.sidebar-menu>li.active>a,
.sidebar-menu>li:hover>a {
    background-color: var(--navbar-blue) !important;
}

.treeview-menu {
    background-color: var(--navbar-blue) !important;
}

.sidebar-menu>li>a>i {
    margin-right: 1em;
}

.sidebar-menu>li>a>span {
    color: var(--mywhite);
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 25px;
}

.skin-blue .treeview-menu>li>a>i {
    margin-right: 0.5em;
}

.form-group.shiny-input-container {
    width: 200px;
}
